body {
 background-image: url(https://images5.alphacoders.com/672/thumb-1920-672220.png);
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-position: center;
 
 background-size: cover;
}

a {
 color: white;
 font-size: 40px;
 text-align: center;
}


